---
import { copy, type Lang } from '../i18n/content';
const { lang } = Astro.props as { lang: Lang }; const t = copy[lang];
---
<footer class="site-footer">
  <div><a class="footer-brand" href={`/${lang}/`}>INDIAN CURRY <span>✦</span></a><p>{t.footer}</p></div>
  <address><b>Równoległa 2</b><br />02-232 Warszawa<br /><a href="tel:+48500091313">+48 500 091 313</a></address>
  <a class="footer-link" href="https://maps.app.goo.gl/4Qmb9Q32fz2zGqhP9" target="_blank" rel="noopener noreferrer">Google Maps <span>↗</span></a>
</footer>
